.App {
  text-align: center;
  .App-main {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      pointer-events: none;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-container {
  padding: 1em;
  .info {
    padding: 1em 0;
  }
  .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > div {
      padding: 0.4em;
    }
    .stars-board {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14em;
      height: 12em;
      .star {
        display: inline-block;
        margin: -0.25em;
        text-shadow: 0 0 10px black;
        min-width: 2.5em;
        min-height: 2.5em;
        font-size: 2.2em;
      }
      .game-done {
        .message {
          font-size: 2.2em;
          margin-bottom: 0.2em;
          text-shadow: 0 0 10px black;
        }
        button {
          font-size: 1em;
          border-radius: 0.2em;
          padding: 0.5em 1em;
        }
      }
    }
    .num-board {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 0.2em;
      width: 12em;
      height: 12em;
      .number {
        font-size: 1em;
        border-radius: 0.2em;
      }
    }
  }
  .timer {
    padding: 1em 0;
  }
}
